# Crie um arquivo .env na raiz do projeto e adicione a seguinte linha abaixo, 
# substituindo "COLOQUE_SUA_CHAVE_DA_RAPIDAPI_AQUI" pela sua chave da RapidAPI.

VITE_API_KEY=COLOQUE_SUA_CHAVE_DA_RAPIDAPI_AQUI
